@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --primary: #7f3be0;
    --primary-dark: #6c1dda;
    --black: #010101;
    --gray-one: #788190;
    --gray-two: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body);
}

.btn {
    border-radius: 20px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 8px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-outline-secondary {
    border: 1px solid var(--gray-two);
    color: var(--black);
}

.btn-outline-secondary:hover {
    border: 1px solid var(--gray-two);
    color: var(--black);
    background-color: var(--gray-two);
}

.btn-outline-secondary:focus {
    border: 1px solid var(--gray-two);
    color: var(--black);
    background-color: var(--gray-two);
}