@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --primary: #7f3be0;
    --primary-dark: #6c1dda;
    --black: #010101;
    --gray-one: #788190;
    --gray-two: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body);
}

.btn {
    border-radius: 10px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 10px 22px;
}

.btn-primary {
    border: none;
    background-color: var(--primary);
}

.btn-primary:hover {
    border: none;
    background-color: var(--primary-dark);
    transform: translateY(-1.2px);
}

.buttons .btn-primary:focus {
    background-color: var(--primary-dark);
}

.btn-outline-secondary {
    border: none;
    color: var(--black);
    background-color: var(--gray-two);
}

.btn-outline-secondary:hover {
    border: none;
    color: var(--black);
    background-color: var(--gray-one);
    transform: translateY(-1.2px);
}

.btn-outline-secondary:focus {
    border: none;
    color: var(--black);
    background-color: var(--gray-two);
}

.navbar .btn-outline-secondary {
    border: none;
    color: var(--white);
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 18px;
}

.navbar .btn-outline-secondary:hover {
    border: none;
    color: var(--white);
    background-color: var(--primary-dark);
    transform: translateY(-2px);  

}

.navbar {
    padding: 28px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-link {
    margin-left: 40px;
    font-size: 16px;
    color: var(--black);
}

.navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-nav .nav-link:hover {
    color: var(--primary);
    transform: translateY(-1.2px);  
}

.navbar .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary);
}

section.hero {
    padding: 40px 0;
    padding-top: 160px;
    padding-bottom: 60px;
}

section.hero .text h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 82px;
    color: var(--black);
    padding-top: 50px;
    padding-bottom: 10px;
}

section.hero .text p {
    font-size: 14px;
    line-height: 24px;
    color: var(--primary);
}

.buttons {
    padding-top: 30px;
}

.buttons .btn {
    font-size: 16px;
}

section.hero img {
    width: 100%;
    height: auto;
    max-width: 560px;
}

.icons img {
    width: 100%;
    height: auto;
    max-width: 90px; 
}

section.setup {
    padding: 80px 0;
    margin-top: 80px;
}


section.setup .text-header h1 {
   font-size: 48px;
   font-weight: 700;
   color: var(--black);
}

section.setup .text-header p {
    color: var(--primary);
    padding: 38px 0;
    padding-bottom: 60px;
    padding-top: 5px;
} 

section.setup .icons {
    padding-bottom: 38px 0;
} 

section.setup .icons:hover {
    transform: translateY(-1.2px);
} 


section.setup h5 {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    padding-top: 30px;
}

section.setup p {
    font-size: 14px;
    color: var(--primary);
    max-width: 300px;
}


section.product {
    padding: 160px 0;
}

section.product h2 {
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
    max-width: 220px;
    padding-bottom: 20px;
}

section.product span {
    font-size: 12px;
    color: var(--gray-one);
}

section.product .card-text {
    color: var(--primary);
    line-height: 5px;
}

section.product .cost {
    font-weight: bold;
    font-size: 24px;
}

section.product .card {
    box-shadow: 0 10px 10px var(--gray-one);
}

section.product .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 22px 22px var(--gray-one);
    transition: 0.5s ease;
}


section.product .btn-primary {
    padding: 10px 14px;
    border-radius: 30px;
    margin-left: 120px;
}

section.product .cost .btn-primary.active {
    background-color: var(--primary-dark);
}

section.product .text-header h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--black);
 }
 
 section.product .text-header p {
     color: var(--primary);
     padding: 38px 0;
     padding-bottom: 60px;
     padding-top: 5px;
 } 


 .promotion {
    background-color: var(--primary);
    padding-top: 18px;
    padding-bottom: 4px;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
 }